
extends ./template/_layout.jade


block title
	title Luna Framework - Icons

block content

	.page__header
		.wrapper
			i.lunacon.lunacon-search-zoom.bigicon
			.row.padding
				.col
					h1.text--white Lunacon Icons



	.wrapper

		h2.color--primary Icons
		p The Icon set is part of the <strong>Lunacon Font</strong> package and is very easy to use as icon or unicode. As a font you simply need to create a <code> &lt;i&gt;&lt;/i&gt; </code> element and adding the following classes <code> lunacon </code> <code> lunacon-{name} </code>
		
		pre: code(lang="html") &lt;i class=&quot;lunacon lunacon-{name}&quot;&gt;&lt;/i&gt;
			| &lt;!-- example --&gt;
			| &lt;i class=&quot;lunacon lunacon-moon&quot;&gt;&lt;/i&gt;
			| &lt;i class=&quot;lunacon lunacon-moon-solid&quot;&gt;&lt;/i&gt;
			| &lt;i class=&quot;lunacon lunacon-bell&quot;&gt;&lt;/i&gt;

		.row.bigger-text.flex

			each val in ['moon', 'moon-solid', 'navicon','close', 'close-small', 'dailer', 'dailer-solid', 'bell', 'bell-solid', 'bell-mute', 'bell-mute-solid', 'star', 'star-solid', 'star-half', 'star-half-solid', 'chevron-down', 'chevron-up', 'chevron-right', 'chevron-left', 'user', 'user-delete', 'user-solid', 'user-delete-solid', 'users', 'users-solid', 'checkmark', 'checkmark-small', 'home', 'home-solid', 'cloud', 'cloud-solid', 'cloud-check', 'cloud-check-solid', 'microphone', 'thumbs-up', 'thumbs-up-solid', 'thumbs-down', 'thumbs-down-solid', 'search', 'search-min', 'search-zoom', 'shield', 'shield-lock-solid', 'pencil', 'dashboard', 'download', 'upload', 'address-book', 'key', 'logout', 'login', 'tag', 'list', 'cone', 'code-fork', 'fire', 'gears', 'giftbox', 'mail-envelope', 'management', 'message', 'sent-mail', 'settings-tool', 'smartphonel', 'android', 'cloud-computing', 'drag', 'heartbeat', 'keys-hole', 'roboto', 'sky', 'sound-waves', 'tractor', 'wordpress', 'beer', 'alarm-clock', 'clock', 'calendar', 'coffee', 'box-opened', 'document', 'drop', 'help', 'info', 'light-bulb', 'share', 'spoon-and-fork', 'stop', 'tag', 'tags', 'test', 'trash', 'wifi', 'anchor', 'bathtub', 'bed', 'book', 'books', 'bull-horn', 'chef', 'cpu', 'delivery-truck', 'file', 'files', 'file-delete', 'folder', 'garage', 'grid' , 'line-chart-up', 'line-chart-down', 'paper-clip', 'paw', 'pet-friendly', 'plug', 'power-button', 'push-pin', 'route', 'tap', 'weight', 'bug', 'camera', 'csv', 'doc', 'double-bed', 'earth', 'eye', 'flask', 'funnel', 'gif', 'hand-click', 'hand-plant', 'html', 'mpeg', 'pdf', 'pie-chart', 'psd', 'screwdriver', 'steering', 'swim', 'truck', 'wheel', 'back-arrow', 'forward-arrow', 'books-stack', 'cosmetics', 'heart', 'heart-solid' , 'lips', 'lipstick', 'haircut', 'open-door', 'open-razor', 'razor', 'handsoap', 'student-cap', 'watch', 'add', 'minus', 'equal', 'expand', 'focus', 'shuffle']

				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>

		hr

		h2.color--primary eCommerce

		.row.bigger-text.flex
			each val in ['cart', 'cart-solid', 'basket', 'basket-solid', 'gift']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr

		h2.color--primary Social Media

		.row.bigger-text.flex
			each val in ['facebook', 'linkedin', 'youtube', 'youtube-play-button', 'twitter', 'twitter-bird', 'github', 'github-round', 'github-round-o', 'google-play', 'google-plus', 'google-plus-g', 'slack', 'whatsapp']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr 



		h2.color--primary Payment

		.row.bigger-text.flex
			each val in ['paypal', 'paypal-p','bitcoin']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr
		h2.color--primary Media

		.row.bigger-text.flex
			each val in ['play', 'stop', 'pause', 'sound', 'sound-waves', 'sound-mute', 'forward', 'backward', 'skip-next', 'skip-back']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>


		hr

		.row
			.col
				h2.color--primary Icon Sizes
				p There are 5 predefined font sizes to choose from. Simply add <code>lunacon--size-x{factor}</code>. Factor range 1 - 5
				
				.form__group 
					i.lunacon.text--primary.lunacon-moon-solid.lunacon--size-x1 &nbsp; 
					i.lunacon.text--primary.lunacon-moon-solid.lunacon--size-x2 &nbsp;
					i.lunacon.text--primary.lunacon-moon-solid.lunacon--size-x3 &nbsp;
					i.lunacon.text--primary.lunacon-moon-solid.lunacon--size-x4 &nbsp;
					i.lunacon.text--primary.lunacon-moon-solid.lunacon--size-x5 &nbsp;




			.col 
				pre: code(lang="html") &lt;i class=&quot;lunacon lunacon-moon-solid lunacon--size-x1&quot;&gt;&lt;/i&gt;
					| &lt;i class=&quot;lunacon lunacon-moon-solid lunacon--size-x2&quot;&gt;&lt;/i&gt;
					| &lt;i class=&quot;lunacon lunacon-moon-solid lunacon--size-x3&quot;&gt;&lt;/i&gt;
					| &lt;i class=&quot;lunacon lunacon-moon-solid lunacon--size-x4&quot;&gt;&lt;/i&gt;
					| &lt;i class=&quot;lunacon lunacon-moon-solid lunacon--size-x5&quot;&gt;&lt;/i&gt;
