
extends ./template/_layout.jade


block title
	title Luna Framework - Icons

block content

	.page__header
		.wrapper
			.row.padding
				.col
					h1.text--white Lunacon Icons



	.wrapper

		h2.color--primary Icons
		.row.bigger-text.flex
			

			each val in ['moon', 'moon-solid', 'navicon','close', 'close-small', 'dailer', 'dailer-solid', 'bell', 'bell-solid', 'bell-mute', 'bell-mute-solid', 'star', 'star-solid', 'star-half', 'star-half-solid', 'chevron-down', 'chevron-up', 'chevron-right', 'chevron-left', 'user', 'user-delete', 'user-solid', 'user-delete-solid', 'users', 'users-solid', 'checkmark', 'checkmark-small', 'home', 'home-solid', 'cloud', 'cloud-solid', 'cloud-check', 'cloud-check-solid', 'microphone', 'thumbs-up', 'thumbs-up-solid', 'thumbs-down', 'thumbs-down-solid', 'search', 'search-min', 'search-zoom', 'shield', 'shield-lock-solid', 'pencil', 'dashboard', 'download', 'upload', 'address-book', 'key', 'logout', 'login', 'tag', 'list', 'cone', 'code-fork', 'fire', 'gears', 'giftbox', 'mail-envelope', 'management', 'message', 'sent-mail', 'settings-tool', 'smartphonel', 'android', 'cloud-computing', 'drag', 'heartbeat', 'keys-hole', 'roboto', 'sky', 'sound-waves', 'tractor', 'wordpress', 'beer', 'alarm-clock', 'clock', 'calendar', 'coffee', 'box-opened', 'document', 'drop', 'help', 'info', 'light-bulb', 'share', 'spoon-and-fork', 'stop', 'tag', 'tags', 'test', 'trash', 'wifi' ]

				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>


					//- a(href="#").button <i class="lunacon lunacon-#{val} btn__icon--left"></i> #{val}
					//- | &nbsp;

		hr

		h2.color--primary eCommerce

		.row.bigger-text.flex
			each val in ['cart', 'cart-solid', 'basket', 'basket-solid', 'gift']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr

		h2.color--primary Social Media

		.row.bigger-text.flex
			each val in ['facebook', 'linkedin', 'youtube', 'youtube-play-button', 'twitter', 'twitter-bird', 'github', 'github-round', 'github-round-o', 'google-play', 'google-plus', 'google-plus-g', 'slack', 'whatsapp']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr 

		//- h2.color--primary Brands

		//- .row.bigger-text.flex 
		//- 	each val in ['algolia']
		//- 		.sm-col-6.md-col-3
		//- 			.icon__flex
		//- 				<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>

		//- hr

		h2.color--primary Payment

		.row.bigger-text.flex
			each val in ['paypal', 'paypal-p','bitcoin']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>
		hr
		h2.color--primary Media

		.row.bigger-text.flex
			each val in ['play', 'stop', 'pause', 'sound', 'sound-waves', 'sound-mute', 'forward', 'backward', 'skip-next', 'skip-back']
				.sm-col-6.md-col-3
					.icon__flex
						<i class="lunacon lunacon-#{val} "></i> <span class="selectable__all"> #{val} </span>


		hr

		.row
			.col
				h2.color--primary Media
				p Media sizes by x factor
				<i class="lunacon text--primary lunacon-cart-solid lunacon--size-x1"></i>
				<i class="lunacon text--primary lunacon-cart-solid lunacon--size-x2"></i>
				<i class="lunacon text--primary lunacon-cart-solid lunacon--size-x3"></i>
				<i class="lunacon text--primary lunacon-cart-solid lunacon--size-x4"></i>
				<i class="lunacon text--primary lunacon-cart-solid lunacon--size-x5"></i>
